@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}
.navbar{
  list-style: none;
}
.navbar .active {
  color: crimson;
  font-weight: bold;
  border-radius: 20px;

}
